/*

* Override Pages default styles or create your own styles here

*/

.sidebar-header {
    padding: 0 !important;
    padding-left: 16px !important;
}

.side-educat-logo {
    background: white;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 500px) {
    .sidebar-header {
        padding-left: 10px !important;
    }

    .side-educat-logo {
        padding: 5px;
    }
}